.about-page {
  height: 100vh;
  background-color: #333;
  overflow: hidden;
}
.about-page main {
  height: 100vh;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-work a {
  text-decoration: none;
}
.profile-photo {
  padding: 0 3rem;
}
.studies {
  padding: 1rem 0;
}
.current-work {
  padding: 1rem 0;
}

.about-section {
  font-size: 2rem;
}
.profile-photo img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
@media only screen and (max-width: 1000px) {
  .profile-photo img {
    width: 18rem;
    height: 18rem;
  }
  .profile-photo {
    padding-top: 5rem;
  }
  .about-page main {
    flex-wrap: wrap;
  }
  .about-section {
    padding-left: 0;
    padding-bottom: 7rem;
  }
}

@media only screen and (max-width: 800px) {
  .about-page main {
    padding: 0 3rem;
  }
  .about-section {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .profile-photo img {
    width: 13rem;
    height: 13rem;
  }
}
@media only screen and (orientation: landscape) {
  .about-page main {
    flex-wrap: nowrap;
  }
  .profile-photo {
    padding: 0;
    padding-right: 3rem;
  }
  .about-section {
    padding: 0;
  }
}
