.landing-page {
  background-color: #333;
  height: 100vh;
}
nav .menu-item {
  cursor: pointer;
  display: inline;
  padding: 0.25rem 0;
  margin: 0 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}
nav .expandable-menu {
  font-size: 2rem;
  display: none;
}
.menu-item:hover {
  border-bottom: 2px solid #fff;
}
nav .brand {
  justify-self: flex-start;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.brand img {
  padding: 0 0.5rem;
  position: relative;
  width: 3.5rem;
  height: 2.5rem;
  cursor: pointer;
}
nav .menu {
  margin-right: 1rem;
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.landing-page main {
  flex: 1 0 auto;
  flex-direction: column;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  padding: 0 3rem;
  text-align: center;
}
.intro-wrapper {
  display: flex;
  flex: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.intro-name {
  font-family: "Reem Kufi", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 2rem 0;
  margin-top: 2rem;
}
.intro-skills {
  font-size: 2.5rem;
  padding: 2rem 0;
  font-weight: 300;
}
.social-icons {
  padding: 2rem 0;
}

.social-icons a {
  height: 7rem;
  position: relative;
  color: #fff;
  padding: 0 2rem;
  text-decoration: none;
}
.social-icons i {
  font-size: 4rem;
  position: relative;
}
.github-hat {
  position: absolute;
  top: -1.6rem;
  left: 2.2rem;
  width: 5.6rem;
  height: 4rem;
  z-index: 1;
}
.linkedin-hat {
  position: absolute;
  top: -1.6rem;
  left: 1.8rem;
  width: 6rem;
  height: 4rem;
  z-index: 1;
}
.instagram-hat {
  position: absolute;
  top: -1.6rem;
  left: 1.9rem;
  width: 5.8rem;
  height: 4rem;
  z-index: 1;
}
.dev-hat {
  position: absolute;
  top: -1.6rem;
  left: 1.8rem;
  width: 6rem;
  height: 4rem;
  z-index: 1;
}
.changeTheme {
  position: fixed;
  bottom: 5%;
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}
.changeThemeText {
  cursor: pointer;
  font-size: 1.8rem;
}

.talkingBubble {
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.6rem;
  width: 10rem;
  height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  font-size: 0.8rem;
}

.talkingBubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10.5px;
  margin-left: -19px;
}
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* vertical wobble */
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* snowflake effect */
.snowflake {
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
.snowflake-blue {
  color: #dbffff;
}
.snowflake-white {
  color: #ffffff;
}
.snowflake-big {
  font-size: 2rem;
}
.snowflake-small {
  font-size: 1rem;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
@media only screen and (min-width: 440px) {
  nav {
    height: 6rem;
  }
}
@media only screen and (max-width: 500px) {
  nav .expandable-menu {
    display: block;
    padding: 0 2rem;
  }
  nav .menu-item {
    display: none;
  }
}
@media only screen and (max-width: 440px) {
  .social-icons i {
    font-size: 3rem;
  }
  .social-icons img {
    height: 3rem;
    width: 4.5rem;
    top: -1.4rem;
  }
}
